<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MemberMapper">
	
	<insert id="insertMember" parameterType="Member">
		insert into member values(#{userid},#{name},
		#{pwd},#{hp1},#{hp2},#{hp3},#{post:VARCHAR},
		#{addr1:VARCHAR},#{addr2:VARCHAR},SYSDATE,1000,0)
	</insert>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		select count(userid) from member
		where userid=#{userid}
	</select>
	<!-- 
		탈퇴 회원을 제외한 memberView를 만들어 로그인 할 때 memberView를 이용하자
		***********************************************************
		create or replace view memberView
		as 
		select m.* , decode(mstate,0,'활동회원',-1,'정지회원',-2,'탈퇴회원',9,'관리자') mstateStr
		from member m
		where mstate >-2;
		***********************************************************
	 -->
	
	
	<select id = "selectByUserid" resultType="Member" parameterType="Member">
		select * from memberView
		<where>
			userid=#{userid}
		</where>
	</select>
	
</mapper>